/* Global settings "START" */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --family-montserrat: 'Montserrat', sans-serif;
    --family-kaushan: 'Kaushan Script', cursive;
    --family-roboto: 'Roboto', sans-serif;
    --gradient-yellow-red: linear-gradient(to top, #fce38a, #f38181);
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.container {
    width: 1201px;
    margin: 0 auto;
}
/* Global settings "END" */

/* Other "START" */
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.page-navigation__menu-nav {
    width: 611px;
}
.page-navigation__link {
    color: #ffffff;
}
.page-navigation__icon {
    fill: #ffffff;
}