.site-logo {
    margin: 0;
    font-family: var(--family-montserrat);
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}
.site-logo__link {
    transition: color linear 0.2s;
}
.site-logo__link:hover {
    color: #fce38a;
}