.banner-title {
    text-align: center;
}
.banner-title__subtitle {
    font-family: var(--family-kaushan);
    font-size: 72px;
    line-height: 1;
    margin-bottom: 50px;
}
.banner-title__welcome {
    font-family: var(--family-montserrat);
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 125px;
}
.banner-title__link {
    display: block;
    font-family: var(--family-montserrat);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 10px 30px 10px 30px;
    transition: all linear 0.2s;
}
.banner-title__link:hover {
    color: rgba(243, 129, 129, 0.7);
    background-color: #ffffff;
    padding: 10px 100px 10px 100px;
    border-radius: 20px;
    box-shadow: #fce38a 1px 1px 10px 10px;
}