.license {
  font-family: $font-montserrat;
  color: $color-main;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  &__link {
    @extend %link;
    color: $color-secondary;
  }

  &__link:hover {
    color: $active-link;
  }

  &__link:focus {
    color: $active-link;
    outline: 2px solid $active-link;
  }
}