/* Global settings "START" */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* a {
    text-decoration: none;
}
:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}
/* Global settings "END" */

/* Header "START" */
nav {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0 115px;
}
nav button {
    border: 2px solid transparent;
    color: #ffffff;
    padding: 10px 18px 10px 18px;
    font-family: var(--font-montserrat);
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
}
nav button a {
    color: #ffffff;
}
nav button:hover {
    border: 2px solid #ffffff;
    border-radius: 20px;
}
.banner_wrap {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-width: 320px;
    min-height: 540px;
    margin: 0 auto;
}
/* Header "END" */

/* Content in banner "START" */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1.banner__title {
    margin: 0;
    font-family: var(--font-montserrat);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 37px;
}
h2.banner__subtitle {
    font-family: var(--font-montserrat);
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    margin-bottom: 17px;
}
p.banner__subtitle {
    font-family: var(--font-roboto);
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 220px;
    margin-bottom: 15px;
}
.banner__button {
    display: flex;
    justify-content: center;
}
.banner__button button {
    font-family: var(--font-montserrat);
    border: 2px solid transparent;
    color: #ffffff;
    padding: 14px 51px 14px 51px;
    border-radius: 44px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: #ff4e50;
    transition: all 0.2s;
    cursor: pointer;
}
.banner__button button a {
    color: #ffffff;
}
.banner__button button:hover {
    border: 2px solid #ffffff;
    border-radius: 8px;

}
/* Content in banner "END" */

/* Content "START" */
.content.wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content.wrapper h2 {
    font-family: var(--font-montserrat);
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    padding: 70px 0 13px;
    text-align: center;
    width: 270px;
}
.content__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-item img {
    display: block;
    border: transparent;
    border-radius: 50%;
}
.card-icon_box {
    width: 126px;
    height: 126px;
    position: relative;
}
.card-icon_box::after {
    position: absolute;
    border: 4px solid #ffffff;
    border-radius: 50%;
    bottom: -4px;
    right: 0;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ff4e50;
}
.card-icon_box.red-icon::after {
    background-image: url(../img/red-icon.png);
    background-repeat: no-repeat;
    background-position: left 50% top 50%;
}
.card-icon_box.yellow-icon::after {
    background-image: url(../img/yellow-icon.png);
    background-repeat: no-repeat;
    background-position: left 50% top 50%;
    background-color: #ffa507;
}
.card-icon_box.green-icon::after {
    background-image: url(../img/green-icon.png);
    background-repeat: no-repeat;
    background-position: left 50% top 40%;
    background-color: #1cd7ad;
}
.card-icon_box.blue-icon::after {
    background-image: url(../img/blue-icon.png);
    background-repeat: no-repeat;
    background-position: left 40% top 50%;
    background-color: #4e73db;
}
.card-item {
    width: 205px;
    text-align: center;
    padding: 0 0 28px;
}
.card-item h3 {
    color: #333333;
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 21px 0 15px;
}
.card-item p {
    color: #666666;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}
.content__button {
    display: flex;
    justify-content: center;
    padding-bottom: 57px;
}
.team-cards button {
    border: 2px solid;
    border-radius: 20px;
    color: #ff4e50;
    padding: 14px 75px 14px 75px;
    font-family: var(--font-montserrat);
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
}
.team-cards button:hover {
    border: 2px solid #ff4e50;
    background-color: #ff4e50;
    border-radius: 5px;
    color: #ffffff;
}
/* Content "END" */