/*Global start*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
a {
  text-decoration: none;
}

/*Global end*/

/*Header start*/
.header__wrapper {
    width: 1170px;
    margin: 0 auto;
}
h1 {
  margin: 0;
  float: left;
}
h1 a {
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
h1::first-letter {
  font-family: "Roboto", sans-serif;
  color: #1abc9c;
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.header__menu > ul {
  float: right;
}
.link-header {
  float: left;
}
.link-header:not(:last-child) {
  margin-right: 30px;
}

.link-header a {
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.link-header a:hover,
.link-header a:focus {
  color: #1abc9c;
}
.header__nav-container {
    padding: 43px 30px 31px;
    line-height: 32px;
}

/*Header end*/

/*Main slider-image start */

.title__slider {
    position: relative;
}
.title__slider img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.title__slider::after {
    content: "";
    display: block;
    clear: both;
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000002;
    opacity: 0.52;
}
.title__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1110px;
}
.slider-title-btn_left {
    float: left;
    display: block;
}
.slider-title-btn_right {
    float: right;
    display: block;
}
.title__block button {
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    border: transparent;
    opacity: 0.65;
}
.title__block img {
    width: 22px;
    height: auto;
    margin: 0 auto;
}
.title__block button:hover, .title__block button:focus {
    background-color: #1abc9c;
    opacity: 1;
    cursor: pointer;
}
.title__title {
    width: 760px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding-bottom: 28px;

}
.title__title h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.title__title p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/*Main slider-image end */

/* Main content new collection start*/

.content__wrapper {
    width: 1170px;
    margin: 0 auto;
}
.content__new-collection>h2 {
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    padding: 98px 0 81px;
}
.content__new-collection h2::after {
    content: "";
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 29px auto 0;
}
.content__card {
    padding: 0 30px 100px;
}
.content__card .item-content {
  float: left;
}
.content__card .item-content:not(:last-child) {
margin-right: 30px;
}
.content__card .item-content img {
    display: block;
}
/* Overlay card start */
.content__overlay {
  background-color: rgba(0, 0, 0, 0.549);
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  background-clip: padding-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.content__overlay:hover {
  opacity: 1;
  transition: all 0.7s;
}
.icons-overlay {
  width: 166px;
  height: 107px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons-overlay button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fff;
  display: block;
  float: left;
}
.icons-overlay .btn:hover {
  background-color: #1abc9c;
}
.icons-overlay .btn {
  position: relative;
  margin: 0 8px 8px 0;
}
.icons-overlay .btn:nth-last-child(-n+2) {
  margin: 0 0 8px;
}
.icons-overlay .btn>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons-overlay button.btn-basket {

  width: 166px;
  height: 50px;
  background-color: #323232;
}
.icons-overlay button.btn-basket:hover {
  background-color: #1abc9c;
}
.icons-overlay .btn-basket {
  position: relative;
}
.icons-overlay .btn-basket>img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
}
.icons-overlay .btn-basket::after {
  content: "ADD TO CART";
  display: block;
  text-align: right;
  padding-right: 23px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.item-content {
  position: relative;
}
.content__overlay_container {
  position: relative;
}

/* Overlay card end */

.price-content {
  position: relative;
  width: 255px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #323232;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: -0.02em;
}
.price-content h3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}
.price-content a {
  text-decoration: none;
  color: #ffffff;
  line-height: 40px;
  padding-left: 17px;
}
.price-content span {
  position: absolute;
  color: #ffffff;
  right: 0;
  background-color: rgba(255, 255, 255, 0.44);
  width: 54px;
  text-align: center;
}
.item-content:hover .price-content {
  background-color: #1abc9c;
}
.price-content a:focus {
  background-color: #1abc9c;
}


/* Main content new collection end*/

/* Footer start*/

.footer__wrapper {
  height: 88px;
  background-color: #323232;
  text-align: center;
}
.footer__wrapper p {
font-family: 'Open Sans', sans-serif;
color: #fefefe;
font-size: 16px;
line-height: 28px;
font-weight: 400;
padding: 34px 0 26px;
}
.footer__wrapper a {
  color: #46bfa9;
}

/* Footer end*/