.banner-img {
    background-image: url(../../img/banner-img.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner-img__gradient {
    background: var(--gradient-yellow-red);
    min-height: 1000px;
}