@media screen and (max-width: 767px) {
    h1.banner__title {
        padding-bottom: 37px;
    }
    nav {
        padding: 40px 0 135px;
    }
    p.banner__subtitle {
        width: 220px;
    }
    .banner__button button a {
        padding: 10px 51px 10px 51px;
        display: block;
        min-width: 292.39px;
    }
    h2.banner__subtitle {
        max-width: 300px;
        min-width: 300px;
    }
    .banner {
        padding-bottom: 150px;
    }
    .team-cards h2 {
        min-width: 270px;
        max-width: 270px;
        padding: 70px 0 13px;
    }
    .team-cards button a {
        padding: 14px 75px 14px 75px;
        min-width: 290.95px;
    }
    .content__button {
        padding: 28px 0 57px;
    }
    .content__cards [class*="col-"]:not(:last-child) {
        margin-bottom: 28px;
    }
}
@media screen and (min-width: 768px) {
    header {
        margin-bottom: 135px;
    }
    nav {
        padding: 40px 0 0;
    }
    p.banner__subtitle {
        width: 300px;
    }
    .banner {
        padding-bottom: 234px;
    }
    .banner__button button a {
        padding: 10px 23px 10px 23px;
    }
    h2.banner__subtitle {
        max-width: 520px;
        line-height: 62px;
        margin-bottom: 36px;
        font-size: 52px;
    }
    .team-cards h2 {
        padding: 70px 0 30px;
    }
    .content__button {
        padding: 38px 0 40px;
    }
    .team-cards button a {
        padding: 10px 30px 10px 30px;
    }
    .content__cards [class*="col-"]:nth-child(2n+1) {
        margin-bottom: 58px;
    }
}