*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

.container-header {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px 0;
}
 a {
    text-decoration: none;
}
li {
  list-style-type: none;
}
h1 a {
  color: #555252;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.02em;
}
h1::first-letter {
  color: #1abc9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h1.logo {
  float: left;
  margin: 0;
}
nav {
  padding: 36px 0 109px;
  line-height: 32px;
}
ul.nav {
  float: right;
}
nav li {
  float: left;
}
nav li:not(:last-child) {
  margin-right: 30px;
}
.nav>a {
  color: #0f0101;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.nav>a:hover, .nav>a:focus {
  color: #1abc9c;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  color: #515151;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
}
h3.product-name {
  background-color: #323232;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
}
h3.product-name a{
  color: #ffffff;
  padding-left: 14px;
}
h3.product-name:hover {
  background-color: #1abc9c;
}
span.item-price {
  background-color: rgba(255, 255, 255, 0.44);
  float: right;
  padding: 0 12px 0;

}
.news h3 {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.news p {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.news a {
  background-color: #4ec6ab;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.container-products {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px 0;
}
.container-products h2 {
  text-align: center;
  padding: 0 0 133px;
}
.list-item {
  float: left;
}
li.list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
li.list-item {
  margin-bottom: 30px;
}
li.list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}
.container.news {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px 0;
}
.container-news h2 {
  text-align: center;
  padding: 105px 0 120px;
}