*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/
 a {
  list-style-type: none;
  text-decoration: none;
}
h1 a {
  color: #555252;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.02em;
}
h1::first-letter {
  color: #1abc9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.nav>a {
  color: #0f0101;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.nav>a:hover {
  color: #1abc9c;
}
h2 {
  color: #515151;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
}
h3.product-name {
  background-color: #323232;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
}
.news h3 {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.news p {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.news a {
  background-color: #4ec6ab;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.02em;
}